@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header,
.hero,
.info,
.quote,
.sign-up,
.footer {
    /*border: 2px solid;*/
    display: flex;
    padding: 32px 128px;
}

/*.logo, .header-links, /*header
.hero > .left, .hero > .right, /*hero
.info > .title, .img-content, /*information
.quote > div, .author, /*quote
.sign-up > .left /*sign-up {
    border: 1px solid;
}*/

/* header */
.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #1f2937;
}

ul { /* I think this still needs to be centered vertically? */
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    flex: auto;
    font-size: 24px;
    color: #f9faf8;
}

/* hero */
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 16px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.hero > .left {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    gap: 8px;
}

.hero > .left > .title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex: 1;
    align-self: stretch;
}

.hero > .left > button {
    background-color: #3882f6;
    border: 0;
    padding: 10px 48px;
    border-radius: 12px;
    color: #e5e7eb;
    font-weight: 700;
}

/* info */
.info > .title {
    padding-bottom: 32px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info {
    flex-direction: column;
    padding-right: 256px;
    padding-left: 256px;
}

.info > .title {
    text-align: center;
}

.img {
    border: 3px solid #3882f6;
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.img-content {
    display: flex;
    /*justify-content: center;
    gap: 32px;*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item > .caption {
    width: 160px;
    text-align: center;
    padding-top: 8px;
    color: gray;
}

/* quote */
.quote { /* This still needs to be light weight */
    padding: 64px 256px;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.author {
    margin-left: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

/* sign up */
.sign-up > button {
    margin-left: auto;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background-color: transparent;
    padding: 0 32px;
    color: #e5e7eb;
    font-weight: 700;
}

.sign-up {
    background-color: #3882f6;
    margin: 64px 128px;
    border-radius: 8px;
    color: #e5e7eb;
}

/* footer */
.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}